.App {
  display:flex;
  flex-direction: row;
}
.profile-main{
  display: flex;
  text-align: center;
  background-color: rgb(104, 53, 53);
  flex-direction: column;
  color: rgb(221, 221, 221);
  width: 15%;
  min-width: 250px;
  height: 100vh;
}
.content-main{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1%;
  height: 100vh;
  overflow-y: auto;
}
.header-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  
}
.topic-main{
  border-bottom: solid 1px rgba(128, 128, 128, 0.692);
  width: 95%;
}
.content-editor{
  width: 50%;
  min-height: 100px;
}

@media only screen and (max-width: 600px) {
  .App{
    flex-direction: column;
  }
  .profile-main {
    width: 100%;
    max-height: 300px;
  }
  .content-main{
    overflow-y: unset;
  }
}